$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';

body{
  background:#dedede;
}
