<p>
  {{link-to "Location list" "locations.index" }}
</p>

<h1>Location show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Address:</strong>
  <span>{{model.address}}</span>
</p>

<p>
  <strong>Url:</strong>
  <span>{{model.url}}</span>
</p>

