<p>
  {{link-to "Pairing list" "pairings.index" }}
</p>

<h1>Pairing show</h1>

<p>
  <strong>Beer:</strong>
  <span>{{model.beer}}</span>
</p>

<p>
  <strong>Topic:</strong>
  <span>{{model.topic}}</span>
</p>

