<h1>Welcome to the Nerdbeers Emberfire app.</h1>
<p>You might want to check out:</p>
<ul>
  <li>{{link-to  'Locations' 'locations'}}</li>
  <li>{{link-to  'Meetings' 'meetings'}}</li>
  <li>{{link-to  'Pairings' 'pairings'}}</li>
</ul>
