<h1>Welcome to the Nerdbeers Emberfire app.</h1>

<p>
This is just an experiment at using Ember and Firebase to build a simple app.
</p>

<p>
This is not at all meant to disparage the fine work of the NerdBeers
development and operations team. It's only an experiment and not a
suggestion to change anything.
</p>

<p>You might want to check out:</p>
<ul>
  <li>{{link-to  'Locations' 'locations'}}</li>
  <li>{{link-to  'Meetings' 'meetings'}}</li>
  <li>{{link-to  'Pairings' 'pairings'}}</li>
</ul>
